<%- include('./partials/header'); -%>

<form class="new-post-form" action="/edit/<%= _id %>" method="post">
  <input type="hidden" name="_csrf" value= <%= csrfToken %> >
 <fieldset>
  <legend><h1>Edit</h1></legend>
  <label for="postTitle">Title</label><br>
  <input type="text" id="post" name="postTitle" placeholder="Title" value=<%= postTitle %>><br><br>
  <label for="postBody">Post</label><br>
  <% if (postBody) { %>
    <textarea id="post" name="postBody" placeholder="Blog text" > <%= postBody %> </textarea><br><br>
  <% } else { %>
        <textarea id="post" name="postBody" placeholder="Blog text" > </textarea><br><br>
  <% } %>

  <input type="submit" value="Publish" class="btn btn-secondary btn-lg">
 </fieldset>
</form>

<%- include('./partials/footer'); -%>
