<%- include('./partials/header'); -%>
<h1> <%= data.name %> </h1>
<p> <%= data.post %>  </p>
<p><a href="/edit/<%= data._id %>">Edit</a> <a href="/delete/<%= data._id %>" >Delete</a></p>
<%- include('./partials/footer'); -%>
